<h1>Owners#new</h1>
<p>Find me in app/views/owners/new.html.erb</p>

<div class='owner-form'>
  <%= form_for @owner do |f| %>

  <% if @owner.errors.any? %>
  <div id="error_explanation">
    <h2 class="error-warning">
      <%= pluralize(@owner.errors.count, "error") %> prohibited
      this owner from being saved:
    </h2>
    <ul>
      <% @owner.errors.full_messages.each do |msg| %>
      <li class="error-message"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p class="owner-form-title">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </p>

  <p class="owner-form-submit">
    <%= f.submit %>
  </p>

  <% end %>

</div>