<h3>Add a new pet</h3>
<div class='pet-form'>
  <%= form_for [@owner, @pet] do |f| %>

  <% if @pet.errors.any? %>
  <div id="error_explanation">
    <h2 class="error-warning">
      <%= pluralize(@pet.errors.count, "error") %> prohibited
      this pet from being saved:
    </h2>
    <ul>
      <% @pet.errors.full_messages.each do |msg| %>
      <li class="error-message"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p class="pet-form-title">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </p>

  <p class="pet-form-submit">
    <%= f.submit %>
  </p>

  <% end %>

</div>